
<%- include('../includes/head.ejs') %>


  <%- include('../includes/navigation.ejs') %>


  <main>

    <section class="residential">
      <h1 class="primary-heading">
        <span>Bienvenido</span>
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nam voluptatem fugit inventore magni recusandae rerum numquam quos, veritatis quam harum animi vitae. Ratione voluptates suscipit laborum error tempore autem!
      </p>
      <% if(props.length > 0) { %>
      <div class="property-grid-container">
        <% for(let property of props) { %>
        <article class="property-grid-container__item">
          <img class="property__image" src="<%= property.imagen_Url %>"" alt="Property image">
          <div class="property__detail">
            <h2 class="property__price">$ <%= property.precio %></h2>
            <p class="property__subcategory"> <%= property.subcategoria%> </p>
            <p class="property__address">
                <%= property.calle_y_numero %>
            </p>
            <p class="property__category"> <%= property.category %> </p>
            <p class="property__description">
                <%= property.descripcion %>
            </p>
          
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
        <h1>No se encontraron propiedades</h1>
      <% } %>
    </section>


  </main>

  <%- include('../includes/end.ejs') %>





        